@media screen  {
body{
	height:100%;
	width:100%;
	background: url("music-wallpaper.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#sec1{
	font-weight:bold;
	color:black;
	position:relative;
	left:80px;
	width: 800px;
	top:100px;
}

#h1{
	width:200px;
	height:80px;
	text-align:center;
	color:blue;
	border:2px ;
	border-style:solid;
	border-color:brown;
	border-width:medium;
	font-size: 50px;
	overflow:hidden;
}

#image{
       position:relative;
       left:400px;
       bottom:50px;
}
